.header {
	background-color: white
}

.header a{
	display: inline;
	margin: 0 25px;
	color: black;
	background-color: white;
	font-size: 35px;
	padding: 24px;
}

.header a:hover{
	color:white;
	background-color:#F9EAA5;
	padding: 20px 16px
}