.mail a{
	margin:16px 20px;
	padding: 20px;
	display: block;
}


.mail h2{
	color: black;
	margin: 0;
}


input{
	border:; black;
	margin: 50px 10px;
	font-size: 25px;
}


#rappel h2{
	color:black;
	margin: 0;
}